*, *:after, *:before
  box-sizing: border-box

html
  position: relative
  min-height: 100%

html, body
  margin: 0
  padding: 0

body
  background: #f1f1f1
  color: #333
  font-family: Helvetica, Arial, sans-serif
  font-size: 14px
  line-height: 23px
  font-weight: 300
  vertical-align: baseline
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-size-adjust: 100%
  cursor: default
  user-select: none

canvas
  display: block

status, help
  display: block
  position: absolute
  opacity: 0
  transition: opacity ease-out .15s

status
  width: 600px
  left: 50%
  top: 50%
  margin-top: -80px
  margin-left: -300px
  padding: 20px 50px
  border-radius: 6px
  background: rgba(230, 230, 230, .4)
  color: #162945
  font-size: 36px
  line-height: 58px
  text-align: center

help
  right: 0
  bottom: 0
  padding: 4px 10px
  border-radius: 4px 0 0 0
  background: rgba(0, 0, 0, .15)
  color: #f1f1f1
  font-family: monospace, Helvetica, Arial, sans-serif
  font-size: 12px
  line-height: 19px
  text-shadow: 1px 1px 0 #333
  p
    margin: 0
    padding: 0
